.footer {
  display: block;
  width: 1280px;
  color: #545454;
  width: 318px;
  height: 18px;
  margin: 67px auto 60px 0;
  font-family: "Inter";
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
}

@media screen and (max-width: 425px) {
  .footer {
    width: 100%;
    max-width: 320px;
    margin: 50px auto 36px;
    padding-left: 19px;
    font-size: 14px;
  }
}
