.page {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media screen and (max-width: 425px) {
  .page {
    max-width: 320px;
    padding: 0;
  }
}
